@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: 180 100% 35%; /* Teal Brand Color */

    --background: 0 0% 100%; /* Teal Background Color */
    --foreground: 224 71.4% 4.1%; /* Teal Foreground Color */

    --muted: 220 14.3% 95.9%; /* Teal Muted Color */
    --muted-foreground: 220 8.9% 46.1%; /* Teal Muted Foreground Color */

    --popover: 0 0% 100%; /* Teal Popover Color */
    --popover-foreground: 224 71.4% 4.1%; /* Teal Popover Foreground Color */

    --card: #f5f5f5; /* Teal Card Color */
    --card-foreground: #ffffff; /* Teal Card Foreground Color */

    --border: 220 13% 91%; /* Teal Border Color */
    --input: 220 13% 91%; /* Teal Input Color */

    --primary: 220.9 39.3% 11%; /* Teal Primary Color */
    --primary-foreground: 210 20% 98%; /* Teal Primary Foreground Color */

    --secondary: 220 14.3% 95.9%; /* Teal Secondary Color */
    --secondary-foreground: 220.9 39.3% 11%; /* Teal Secondary Foreground Color */

    --accent: 220 14.3% 95.9%; /* Teal Accent Color */
    --accent-foreground: 220.9 39.3% 11%; /* Teal Accent Foreground Color */

    --destructive: 0 84.2% 60.2%; /* Teal Destructive Color */
    --destructive-foreground: 210 20% 98%; /* Teal Destructive Foreground Color */

    --ring: 224 71.4% 4.1%; /* Teal Ring Color */

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 6%; /* Teal Dark Background Color */
    --foreground: 210 20% 98%; /* Teal Dark Foreground Color */

    --muted: 215 27.9% 16.9%; /* Teal Dark Muted Color */
    --muted-foreground: 217.9 10.6% 64.9%; /* Teal Dark Muted Foreground Color */

    --popover: 224 71.4% 4.1%; /* Teal Dark Popover Color */
    --popover-foreground: 210 20% 98%; /* Teal Dark Popover Foreground Color */

    --card: #1a1a1a; /* Teal Dark Card Color */
    --card-foreground: #1e1e1e; /* Teal Dark Card Foreground Color */

    --border: 215 27.9% 16.9%; /* Teal Dark Border Color */
    --input: 215 27.9% 16.9%; /* Teal Dark Input Color */

    --primary: 210 20% 98%; /* Teal Dark Primary Color */
    --primary-foreground: 220.9 39.3% 11%; /* Teal Dark Primary Foreground Color */

    --secondary: 215 27.9% 16.9%; /* Teal Dark Secondary Color */
    --secondary-foreground: 210 20% 98%; /* Teal Dark Secondary Foreground Color */

    --accent: 215 27.9% 16.9%; /* Teal Dark Accent Color */
    --accent-foreground: 210 20% 98%; /* Teal Dark Accent Foreground Color */

    --destructive: 0 62.8% 30.6%; /* Teal Dark Destructive Color */
    --destructive-foreground: 210 20% 98%; /* Teal Dark Destructive Foreground Color */

    --ring: 216 12.2% 83.9%; /* Teal Dark Ring Color */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .text-gradient {
    background: linear-gradient(to right, #2286de, #3aaf75);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-linear {
    background: linear-gradient(to right, #ffd700, #f0f2f5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-linear-m {
    position: absolute;
    width: 375.15px;
    height: 316px;
    left: -55px;
    top: -119px;
    background: linear-gradient(
      180deg,
      rgba(70, 77, 248, 0.288) 27.04%,
      rgba(70, 77, 248, 0.2) 135.31%
    );
    filter: blur(155.665px);
    border-radius: 311.33px;
  }

  .bg-linear-pc {
    position: absolute;
    width: 1205px;
    height: 1015px;
    left: 20%;
    top: -120%;

    background: linear-gradient(
      180deg,
      rgba(70, 77, 248, 0.288) 27.04%,
      rgba(70, 77, 248, 0.2) 135.31%
    );
    filter: blur(500px);
    border-radius: 1000px;

    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    z-index: 4;
  }

  .noti-greadient {
    filter: drop-shadow(0px 15.975px 29.9531px #eaeaea)
      drop-shadow(0px 0px 499.219px #ffc0f5);
    border-radius: 23.9625px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .noti-greadient-dark {
    filter: drop-shadow(0px 18.1511px 34.0332px #2b0b31)
      drop-shadow(0px 0px 567.221px #464df8);
    border-radius: 27.2266px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

ol,
ul,
menu {
  list-style: auto;
}

/* html {
  scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
} */

body {
  font-family: var(--font-poppins);
}

/* editor */
._editorWrapper_uazmk_154 {
  @apply border border-input shadow-sm rounded;
}

._toolbarRoot_uazmk_160 {
  @apply !bg-white dark:!bg-gray-700;
}

._toolbarRoot_uazmk_160 svg {
  @apply !text-foreground;
}

._toolbarToggleItem_uazmk_206:hover,
._toolbarButton_uazmk_237:hover {
  @apply !bg-secondary;
}

._linkDialogPopoverContent_uazmk_600,
._tableColumnEditorPopoverContent_uazmk_601,
._dialogContent_uazmk_602 {
  @apply !bg-background;
}

._dialogOverlay_uazmk_871 {
  @apply !bg-background;
}

._contentEditable_uazmk_379 {
  @apply !text-foreground min-h-60;
}

._linkDialogPopoverContent_uazmk_600,
._tableColumnEditorPopoverContent_uazmk_601,
._dialogContent_uazmk_602 {
  @apply !border-border;
}

._textInput_uazmk_1186 {
  @apply !bg-background !text-foreground !border-border;
}

._formField_uazmk_1200 {
  @apply !text-foreground;
}

._primaryButton_uazmk_506 {
  @apply !bg-gray-400 !text-white !font-semibold !border-gray-400;
}

._secondaryButton_uazmk_507 {
  @apply !bg-secondary !text-secondary-foreground !border-secondary !font-semibold;
}

._toolbarToggleItem_uazmk_206[data-state="on"],
._toolbarButton_uazmk_237[data-state="on"],
._toolbarToggleItem_uazmk_206:active,
._toolbarButton_uazmk_237:active {
  @apply !bg-background;
}

._code_1tncs_52 {
  @apply !bg-secondary dark:!bg-secondary !text-primary;
}

._toolbarNodeKindSelectTrigger_uazmk_305,
._toolbarButtonSelectTrigger_uazmk_306,
._selectTrigger_uazmk_307 {
  @apply !bg-transparent;
}

._toolbarNodeKindSelectTrigger_uazmk_305,
._toolbarButtonSelectTrigger_uazmk_306,
._selectTrigger_uazmk_307 {
  @apply !text-foreground;
}

._toolbarNodeKindSelectTrigger_uazmk_305[data-state="open"],
._toolbarButtonSelectTrigger_uazmk_306[data-state="open"],
._selectTrigger_uazmk_307[data-state="open"] {
  @apply !bg-background;
}
